@model List<Names>

@{
    ViewBag.Title = "Characters";
}

<h1>Characters</h1>

<a asp-controller="Characters" asp-action="Add">Add New Character</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var names in Model)
        {
            <tr>
                <td>@names.Name</td>
                <td>@names.Year</td>
                <td>@names.Description</td>
                <td>
                    <a asp-controller="Character" asp-action="Edit"
                       asp-route-id="@name.CharacterId"
                       asp-route-slug="@name.Slug">Edit</a>

                    <a asp-controller="Character" asp-action="Delete"
                       asp-route-id="@name.CharacterId"
                       asp-route-slug="@name.Slug">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>